img {
  width: 100%;
  border-radius: 8px;
}

.gif:hover,
.vid-thumbnail:hover {
  cursor: pointer;
}

.placeholder {
  background-color: #9a00a8;
}

.check-icon {
  position: absolute;
  top: 2%;
  right: 0%;
  width: 1.2em;
}

.save-icon {
  position: absolute;
  top: 2%;
  right: 0%;
  width: 1.2em;
  background-color: #6435c9;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border-radius: 4px;
  cursor: pointer;
}

.save-icon:hover {
  background-color: rgba(165, 55, 253, 0);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.save-icon:active {
  background-color: rgb(249, 253, 6);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.delete-icon {
  position: absolute;
  top: 2%;
  right: 0%;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border-radius: 4px;
  cursor: pointer;
}

.delete-icon:hover {
  color: rgb(255, 0, 0) !important;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.comment-icon {
  color: white;
  position: absolute;
  bottom: 4%;
  left: 4%;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.email-display {
  display: inline !important;
}

@media screen and (max-width: 600px) {
  .email-display {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

.pusher {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.pusher > .segment {
  flex: 1;
}

.overlay {
  position: absolute;
  background-color: #6435c9;
  overflow: hidden;
  width: 40%;
  left: 30%;
  transition: 0.5s ease;
  border-radius: 8px;
}

.overlay-container:hover .overlay {
  bottom: 5%;
  height: 20%;
}

.overlay-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  padding: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
