.gif-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0 10px;
  justify-items: center;
  grid-auto-rows: 10px;
}

.gif-list img {
  width: 250px;
}

.placeholder {
  background-color: #9a00a8;
}

img:hover {
  cursor: pointer;
}
